/*
 * $Id: lesson.css 192 2009-12-14 22:49:48Z nicb $
 */

h1 {
  font-size: 12pt;
}

tr.conflict {
	background :red;
	margin :10px;
}

td.padded {
	padding: 5px;
	border: 5px;
} 

.conflicting_lesson {
	background-color: red;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.valid_lesson {
	background-color: greenyellow;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}
