<!-- $Id: logout.html.erb 96 2009-09-17 10:07:54Z nicb $ -->
<div class="memo">
    <h3>Logoff</h3>

    <p>You are now logged out of the system...</p>
      
    <%= link_to "&#171; login", :action=>"login"%>  
      
</div>

